<%- include('../partials/header') %>

<h2>Welcome to the women's department</h2>


<div class="indexPage">

  <% items.forEach(function(i) { %>
      <div class="cartPicture">
          <a href="/womens/<%= i._id %>" class="indexPictures">
          <img src="<%= i.imageOne %>"></a>
        
        <div><a href="/womens/<%= i._id %>"><%= i.title %></a></div>
        <div>Price: $<%= i.price %></div>

      </div>
    <% }); %>
</div>



<%- include('../partials/footer') %>