<%- include('../partials/header') %>

<h2 class="depName">Welcome to Account</h2>
<% user.orders.forEach(function(order) { %>
    <div class="accountDisplay">
        <strong>
        Order #<%= order._id %>
        </strong>
    

    <% let total = 0 %>
    <% order.items.forEach(function(i) { %>
        <% total += i.price %>
        <div class="accItem">
            <div class="cartPicture"><img src="<%= i.imageOne %>"></div>
            <div><%= i.title %></div>
            <div>Price $<%= i.price %></div>
        </div>

        <% }); %>
        <div>
        <strong class="total">
            Total: $<%= total.toFixed(1) %>
        </strong>
        </div>

    </div>
<% }); %>
<%- include('../partials/footer') %>