<%- include('../partials/header') %>

<br><br><br><br>
          <div class="cartPicture"><img src="<%= item.imageOne %>"></div><br>
          <div><%= item.title %></div><br>
          <div>Price: $<%= item.price %></div><br>
          <div>Description: <%= item.description %></div><br>
          <div>Size: <%= item.size %></div><br>
          <div>Color: <%= item.color %></div><br>
          <div>Brand: <%= item.brand %></div>


<% if (user) { %>
  <form action="/mens/<%= item._id %>/cart" method="POST">
    <button type="submit">Add to Cart</button>
  </form>
<% } %>

<br><br><h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/mens/<%= item._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>
<% if (item.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% item.reviews.forEach(function(review) { %>
        <% total += review.rating %>
        <tr>
          <td class="review-user"><img alt="avatar" src="<%= review.userAvatar %>" referrerpolicy="no-referrer" ><%= review.userName %></td>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
          <td>
            <% if (user?._id.equals(review.user)) { %>
              <form action="/mens/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
              <a href="/mens/<%= item.id %>/reviews/<%= review.id %>/edit">Edit Review</a>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td>
          <strong>
            <%= (total / item.reviews.length).toFixed(1) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>