<%- include('../partials/header') %>

<h2>Welcome to the Cart</h2>
<% let total = 0 %>
<% user.cart.forEach(function(i) { %>
  <% total += i.price %>
  <section class="cartDisplay">
  <div class="cartPicture"><img src="<%= i.imageOne %>"></div>
  <div><%= i.title %></div>
  <div>Price $<%= i.price %></div>
  <div>
    <form action="/cart/<%= i._id %>?_method=DELETE" method="POST">
      <button type="submit">Remove item</button>
    </form>
  </div>
  <br><br><br><br><br><br>
</section>
<% }); %>
<div>
  <strong class="total">
    Total: $<%= total.toFixed(1) %>
  </strong>
</div>

<form action="/cart/checkout" method="POST">
  <button type="submit">Check out</button>
</form>
<%- include('../partials/footer') %>